body{
    background-color:   #fafafa;
}
.bg-ame {
    background-image: url("ame.jpg");
    background-size: cover;
    height: 800px;
    width: 1450px;
    margin: auto;
}

.about-ame{
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
    font-family:'Noto Sans JP', sans-serif;
    color:black;
    justify-content: center;
}

.title-ame{	
	vertical-align: middle;
	margin: auto;
	padding: 10px;
	color: #ffff;
    font-size: 70px;
    display: flex;
    text-shadow:2px 2px 3px #c3267aca;
}

.foods-container-ame{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.image-ame{
    justify-content: center;
    box-shadow: 0 0 30px #ccc ;
    height: 250px;
}

.shop-ame{
    font-size: 18px;
    border-bottom: 1px solid rgba(160, 157, 157, 0.77);
}

.genre-ame{
    font-size: 15px;
}

.tweet-ame{
    border: 1px solid rgba(160, 157, 157, 0.77);
    width:350px;
    flex-wrap: wrap;
    margin:60px;
    flex-direction: row;
    padding: 8px;
    height:380px;
}

.show-ame{
    display: inline-block;
    position: relative;
    background:#ffff ; /* 背景色 */
    border: 2px solid #4D9BC1;
    color: #4D9BC1; /* 文字色 */
    text-decoration: none;
    transition-duration: 0.3s;
    padding:2px;
    font-size:15px;
}

.show-ame:hover {
    background: #4D9BC1; /* 背景色 */
    color: #ffff; /* 文字色 */
  }

.button-ame{
    display:flex;
}

.like-medi{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

button{
    font-size:20px;
    margin:5px;
    width:5%;
    background:#ffff ; /* 背景色 */
    border: 2px solid #06a2b3dc;
    color: #06a2b3dc; /* 文字色 */
    text-decoration: none;
    transition-duration: 0.3s;
    padding:2px;
}

button:hover{
    margin:5px;
    background: #06a2b3dc; /* 背景色 */
    color: #ffff; /* 文字色 */
}