body{
    background-color:   #fafafa;
}
.bg-lost {
    background-image: url("lost.jpg");
    background-size: cover;
    height: 800px;
    width: 1450px;
    margin: auto;
}

.about-lost{
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
    font-family:'Noto Sans JP', sans-serif;
    color:black;
    justify-content: center;
}

.title-lost{	
	vertical-align: middle;
	margin: auto;
	padding: 10px;
	color: #ffff;
    font-size: 70px;
    display: flex;
    text-shadow:2px 2px 3px #3d7710be;
}

.foods-container-lost{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.image-lost{
    justify-content: center;
    box-shadow: 0 0 30px #ccc ;
    height: 250px;
}

.shop-lost{
    font-size: 18px;
    border-bottom: 1px solid rgba(160, 157, 157, 0.77);
}

.genre-lost{
    font-size: 15px;
}

.tweet-lost{
    border: 1px solid rgba(160, 157, 157, 0.77);
    width:350px;
    flex-wrap: wrap;
    margin:60px;
    flex-direction: row;
    padding: 8px;
    height:380px;
}

.show-lost{
    margin:5px;
    display: inline-block;
    position: relative;
    background:#ffff ; /* 背景色 */
    border: 2px solid #4D9BC1;
    color: #4D9BC1; /* 文字色 */
    text-decoration: none;
    transition-duration: 0.3s;
    padding:2px;
    font-size:15px;
    border-radius: 100vh;
}

.show-lost:hover {
    margin:5px;
    background: #4d9ac1ba; /* 背景色 */
    color: #ffff; /* 文字色 */
  }

.button-lost{
    display:flex;
}

.like-lost{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

