.foods-container-menu{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.image-menu{
    justify-content: center;
    box-shadow: 0 0 30px #ccc ;
    height: 250px;
}

.shop-menu{
    font-size: 18px;
    border-bottom: 1px solid rgba(160, 157, 157, 0.77);
}

.genre-menu{
    font-size: 15px;
}

.tweet-menu{
    border: 1px solid rgba(160, 157, 157, 0.77);
    width:350px;
    flex-wrap: wrap;
    margin:60px;
    flex-direction: row;
    padding: 8px;
    height:380px;
}

.show-menu{
    margin:5px;
    display: inline-block;
    position: relative;
    background:#ffff ; /* 背景色 */
    border: 2px solid #06a2b3dc;
    color: #06a2b3dc; /* 文字色 */
    text-decoration: none;
    transition-duration: 0.3s;
    padding:2px;
    font-size:15px;
}

.show-menu:hover {
    margin:5px;
    background: #4d9ac1ba; /* 背景色 */
    color: #ffff; /* 文字色 */
  }

.button-menu{
    display:flex;
}

.like-menu{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
